@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.content {
  text-align: center;
}

.left-unit {
  position: relative;
  margin-top: 3em;
}

.paragraph-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Quicksand', sans-serif;
  color: green;
}

.right-unit {
  position: relative;
}

.paragraph-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Quicksand', sans-serif;
  color: green;
}

h2 {
  font-family: 'Anton', sans-serif;
  font-size: 3rem;
}
