html {
  background-color: #efede3;
  font-family: 'Quicksand', sans-serif;
}

.left-unit {
  position: relative;
  margin-top: 3.5em;
  text-align: center;
}

.paragraph-1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -.7rem;
}

.right-unit {
  position: relative;
  text-align: center;
}

.paragraph-2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-top: -.7rem;
}

.paragraph-3 {
  text-align: center;
}

.equal-sign {
  text-align: center;
}

h1 {
  font-family: 'Anton', sans-serif;
  color: #e8da8d;
}

@media only screen and (min-width: 38em) {

  .equal-sign {
    text-align: center;
  }

}

@media only screen and (min-width: 60em) {

  .right-unit {
    margin-top: 3.5em;
    text-align: right;
  }

  .left-unit {
    text-align: left;
  }

  h1 {
    text-align: center;
  }

  .equal-sign {
    margin-top: 3.5em;
  }

}
